<%- include("header") -%>
    <div class="box" id="heading">
      <h1>JUMBISH ART</h1>
    </div>

  <form class="" action="/items" method="post">

    <div class="">
    <input type="text" name="newitem" placeholder="Enter your Phone Number"autocomplete="off">
    </div>
    <div class="">
    <button type="submit" name="list">Order List</button>
    </div>

  </form>

<%- include("footer") -%>
