<%- include("header") -%>
<div class="jumbotron text-center  ">
 <h1 class="display-4">Congratulation!</h1>
 <h2>Your Order with order No. 12548 has been placed and will be Deliver as per given time.</h2>
<h2>Meanwhile, enjoy and Shop More!</h2>
</div>
<%- include("footer") -%>
